/*
    Style Guide
 */
.style-guide {

    // Elements
    .style-guide-section {
        margin-bottom: rem(40);
    }

    .colours {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-left: 0;

        list-style: none;


        // Elements
        > * {
            display: block;
            width: rem(60);
            height: rem(60);
            margin-right: $padding-width;
            margin-bottom: $padding-width;

            font-size: 0;


            // Types
            &.outline {
                border: 1px solid $color-black;
            }


            // Colours
            &.primary {
                background-color: $color-primary;
            }

            &.secondary {
                background-color: $color-secondary;
            }

            &.tertiary {
                background-color: $color-tertiary;
            }

            &.dark {
                background-color: $color-black;
            }

            &.light {
                background-color: $color-white;
            }
        }
    }

    .icons > * {
        display: inline-block;
        margin-right: rem(10);
    }
}
