/*
    Button
 */
button[type='button'],
button[type='submit'] {
    padding: 0;

    line-height: 1;
    white-space: nowrap;

    background: none;
    border: none;

    appearance: none;
}

a.button {
    line-height: 1;

    text-decoration: none;
}

a.button,
.button[type='button'],
.button[type='submit'] {
    display: inline-flex;
    
    align-items: center;
    
    justify-content: center;

    padding-right: $padding-width;
    padding-left: $padding-width;
    
    line-height: 1.4rem;

    background-color: $color-woodsmoke-1;

    border-radius: rem(30);

    transform: translateY(0);
    transition: all 0.25s ease;

    // States
    &:hover {
        transform: translateY(0) scale(1.05);
    }


    // Types
    &[disabled] {
    }

    &.block {
        display: block;
    }

    &.default {

        &:hover {
        }
    }

    &.default.inverse {

        &:hover {
        }
    }

    &.primary {
        line-height: 2rem;
        text-transform: uppercase;

        border: rem(2) solid $color-white;

        &:hover {
            box-shadow: 0 0 rem(10) 0 $color-white;
        }
    }
}
